body {
    background-color: orange;
    background-size: auto;
    height: 100%;
    min-height: 100vh;
}

.jumbotron{
    background-color: transparent !important;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    
}

